@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&family=Manrope&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
    margin: 0;
}

header>nav{
   
    margin: 10px;
    padding: 20px;
 }

 header>nav>div {
    display: inline-block;
 }

 #menu_container {
    margin-left: 250px;
 }

 #logo{
     font-family: 'Caveat', cursive;
     margin: 30px ;
     display: inline-block   ;
     font-size: 48px;
     text-decoration:none;
     color: black;
     font-weight: 800;
 }

 #menu_container>a {
   font-family: 'Manrope', sans-serif;
    margin-left: 35px;
    font-weight: 600;
    text-decoration:none;
    color: black;
    font-size: 16;
 }
   #index_top_image_block{
      height: 742px;
      display: flex;
      justify-content: center;
   }
   #index_top_image_block>p{
      position: absolute;
      top: 40%;
   }
   #button1{
      background-color: #ff6433;
      color: aliceblue;
      display: inline-block;
      text-decoration: none;
      padding: 12px 32px;
      border-radius: 6px;
      bottom: 25px;
      left: 647px;
      position: absolute;
   }
   .left{
      position: absolute;
      font-size: 50px;
     left: 620px;
     bottom: 200px;
      
   }
   .right{
      position: absolute;
      font-size: 50px;
     left: 750px;
     bottom: 200px;
     color: white;
     background-color: rgba(0, 0, 0, 0.5);
     z-index: 1;
   }